# Flutter/Dart/Pub related
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.flutter-versions
**/.idea/
**/.vscode/
**/.DS_Store
**/pubspec.lock
**/ios/Pods/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/ephemeral/
**/ios/ServiceDefinitions.json
**/android/.gradle/
**/android/captures/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/local.properties
**/web/.dart_tool/
**/web/build/
# Misc
*.iml